/* NEXT SECTIONS */
.card_dicovery{
  text-decoration: none;
}

.body_dicovery_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.dicovery_card{
  position: relative;
  width: 400px;
  height: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background-color:  #202124;

  margin: 0 50px;
}

.dicovery_card img{
  position: absolute;
  bottom: 0;
  left: 80%;
  top: 70%;
  transform: translateX(-50%);
  height: 24px;
  transition: .5s;
}

.dicovery_card:hover img{
  left: 96%;
  top: 70%;
  height: 24px;

  opacity: 0;
  visibility: hidden;
}

.dicovery_card:hover p{
  left: 96%;
  top: 70%;

  opacity: 0;
  visibility: hidden;
}


.dicovery_card .content{
  position: relative;
  width: 60%;
  left: 5%;
  padding: 5px 5px 5px 10px;
  transition: .7s;
  opacity: 0;
  visibility: hidden;
}

.dicovery_card:hover{
  left: 0%;
  opacity: 1;
  visibility: visible;
}

.dicovery_card h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 6px;
  padding-left: 16px;
}

.dicovery_card p{
  color: #fff;
  width: 183px;
  font-size: 14px;
  line-height: 10px;

  padding-left: 155px;

  color: #2ED49A;
  left: 80%;
  top: 70%;
}

.arrow{
  display: table-row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;

  padding-left: 16px;
}