
/**************   OPÇÕES GERAIS                 *************************/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    /* Colors */
    --bg-color: #202124;
    --bg-color-lighter: #3B3D3F;
    --white-color: #FFF;
    --green-strong: #4ADAA8;
    
    /* Fonts */
    --body-font: 'Spartan', sans-serif;
    --normal-font-size: 16px;
    --small-font-size: 14px;
  }
a{
    text-decoration: none;
}

body{
    background-color: var(--bg-color);
    font-family: 'Spartan', sans-serif;
    color: white;
}
h1{
    color: var(--green-strong);
    font-size: 50px;
}
h3{
    color: var(--green-strong);
}
input{
    outline: 0;  
}

/**************   TODA A PARTE DE LOGIN                 *************************/
.footer-social-links{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#bota_cad{
    outline: 0;
    border: 0;
}


.containernav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 90%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2%;
    width: 90%;
    height: 90vh;
   flex-direction: column;
}
.login{
    height: 500px;
    text-align: center;
    width: 40%;
}
.login p {
    padding-top: 1%;
}

form{
    display: flex;
    flex-direction: column;
    height: 2000px;
    width: 30%;
    justify-content: space-evenly;
  }
form input{
    background-color: transparent;
    color: var(--white-color);
    font-weight: bold;
    font-size: 15px;
    height: 17%;
    border: 0;
    border-bottom: 3px solid var(--white-color);
}



.button_main {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
}

.button_main {
    cursor: pointer;
    background-color: var(--bg-color-lighter);
    color: var(--white-color);
    height: 56px;
    display: inline-flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;
    transition: background 0.3s;
}

.button_main:hover {
    background-color: var(--green-strong);
    color: var(--bg-color-lighter);
    transition-delay: 0.8ms;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
  }
  