@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  color:#69B99D;
  font-size: 20px;
}

img {
  width: 100%;
}

/*====  VARIABLES ============================ */
:root {
/* --- Cores de fundo do site ---  */
/* Cor de Fundo Primaria: #222324 - (Escura) */
--base-color-primary: #222324;
/* Cor de Fundo Secundaria: #2B2C2D - (Clara, pórem não mais que a Terciaria) */
--base-color-secondary: #2B2C2D;
/* Cor de Fundo Terciaria: #3B3D3F - (Mais clara) */
--base-color-tertiary: #3B3D3F;

/*	--- Cor para os Textos do Site --- */
/* Cor de Titulo: #69B99D - (Verde Escuro) */

--title-color-primary: #ffff;
/* Cor de Texto: #4ADAA8 - (Verde Claro) */
--text-color-secondary: #4ADAA8;

--title-color-primary: #69B99D;
/* Cor de Texto: #4ADAA8 - (Verde Claro) */
--text-color-secondary: #69B99D;

}

/* ====  BASE ============================ */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--title-color-primary);
  background: #202124;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green-strong);    /* color of the scroll thumb */
  border-radius: 2px;
  width: 5px;       /* roundness of the scroll thumb */
  }

h1 {
  font-family: 'Spartan', sans-serif;
  color: var(--title-color-primary);
}

span {
  font-family: 'Spartan', sans-serif;
}
#home .text {
  order: 0;
  max-width: 420px;
  text-align: left;
}

#home .text h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

#home .text p {
  margin-bottom: 32px;
  color: white;
  font-size: 22px;
}

#home .button {
  text-align: center;
  font-weight: bold;
}

.containernav{
  background-color: #1a1b1c;
  display: flex;
  justify-content: center;
  padding: 1.2%;
  height: 70px;
}

.containernav .gridnav #header_logo{
  background-color: #1a1b1c;
  font-weight: 1000;
  font-size: 26px;
  margin-top: 0.5%;
}

.containernav .gridnav .title{
  background-color: #1a1b1c;
  font-weight: 100;
  font-size: 20px;
}

.gridnav{   
  font-weight: 500;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 0.5%;
  width: 80%;
  list-style: none;
}

/* CORPO */ 
.cointainer{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

/*CARDS */
.cardsHome{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;

}
.card{
  cursor: pointer;
  box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.39);
  height: 90%;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}
.card img{
  height: 143.7px;
  align-self: center;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;

}
.card p{
  color: black;
  font-weight: bolder;
  margin-left: 10%;
  margin-top: 10%;
}

#blue img{
  border-bottom: 8px solid blue;
  width: 100%;
}
#green img{
  border-bottom: 8px solid green;
  width: 100%;
}
#red img{
  border-bottom: 8px solid red;
  width: 100%;
}
#yellow img{
  border-bottom: 8px solid yellow;
  width: 100%;
}
.card:hover {
  transform: scale(1.05);
  transition: .2s;
}
.containerDash{
  width: 80%;
  height: 400px;
  display: flex;
  padding-top: 2%;
}

.containerDash .linhas{
  display: flex;
  height: 50%;
  width: 20%;
  background-color: red;
}
.containerDash .linha_txt{
  height: 50%;
  width: 20%;
  background-color: blue;
}