
/******        FONTE PRINCIPAL                     **************/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******        SEGUNDA OPÇÃO DE FONTE                     **************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root{
  /* Colors */
  --bg-color: #202124;
  --bg-color-lighter: #3B3D3F;
  --white-color: #FFF;
  --green-strong: #4ADAA8;
  
  /* Fonts */
  --body-font: 'Spartan', sans-serif;
  --normal-font-size: 16px;
  --small-font-size: 14px;
}

body{
  background-color: var(--bg-color);
}


*{
  font-family: 'Spartan', sans-serif;
 
}
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green-strong);    /* color of the scroll thumb */
  border-radius: 2px;
  width: 5px;       /* roundness of the scroll thumb */
  }
a{
  text-decoration: none;
}

h1 {
  font-family: 'Spartan', sans-serif;
  color: var(--green-strong);
}

body{
  padding: 0;
  margin: 0;
}

span {
  font-family: 'Spartan', sans-serif;
}

/* SPAN PARA DEIXAR QUALQUER TEXTO NEGRITO span_negrito */
.span_negrito{
  font-weight: bolder;
  color: #4ADAA8;
  border-bottom: 2px solid var(--green-strong);
}

.stroke_divide{
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}
/* Banner */
.abt-us{
  display: flex;
  height: 90vh;
}

.logo_img{
  height: 400px;
  width: 400px;
  margin: 70px 11%;
}

.logo_img img{
  height: 90%;
}

.text {
  order: 0;
  max-width: 420px;
  text-align: left;
}

.text h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.text p {
  margin-bottom: 32px;
  color: var(--white-color);
  font-size: 22px;
}

.button_main {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.button_main {
  cursor: pointer;
  background-color: var(--green-strong);
  color: var(--bg-color-lighter);
  height: 56px;
  display: inline-flex;
  align-items: center;
  padding: 0 32px;
  border-radius: 5px;
  transition: background 0.3s;
}

.button_main:hover {
  background-color: var(--bg-color-lighter);
  color: var(--green-strong);
}

/*********************                LINHAS PARCEIRAS               *************/
.linhas{
  height: 100vh;
  padding-right: 17%;
  display: flex;
}

.linha_img{
  padding: 3%;
  height: 540px;
  width: 540px;
}

.linha_img img{
  height: 100%;
}

.linhasTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 320px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
  
linhasTxt h1{
  margin: 0;
  margin-top: 6%;
}
  
.linhasTxt p{
  color: var(--white-color);
}

/* ANIMAÇÃO TEXTO */
.linhasTxt:after, 
.linhasTxt:before{
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right:0;
  transition: transform .3s ease-in-out;
  }
  .linhasTxt:before{
    border-left: 2px dashed var(--green-strong);
    border-right: 2px dashed var(--green-strong);
    transform:scaleY(0)
  }
  .linhasTxt:after{
    border-top: 2px dashed var(--green-strong);
    border-bottom: 2px dashed var(--green-strong);
    transform:scaleX(0)
  }
  .linhasTxt:hover::before{
    transform:scaleY(1)
  }
  .linhasTxt:hover::after{
    transform:scaleX(1)
  }

  /***************************                  CALCULADORA                   ***********/
  .calculadora{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

  }
  .conteudo-resultado{
    display: flex;
    width: 450px;
  }
 
  .explica_cal h3{
      color: var(--white-color);
  
  }
  .explica_cal{
     font-size: 26px;
     width: 60%;
     height: 24px;
     align-self: center;
     margin-left: 2%;
  }
   
    .conta{
      padding-left: 2%;
      display: flex;
      color: var(--white-color);
      flex-direction: column;
 
      width: 40%;
    }
    .conta select{
      cursor: pointer;
      height: 40px;
      background-color: var(--white-color);
      color: var(--bg-color);
      font-size: 18px;
      font-weight: bold;
      width: 39.4%;
      border: 0;
      border-radius: 5px;
    }

.conta option{
  color: var(--bg-color-lighter);
  font-weight: bold;
  font-size: 16px;
  padding: 2%;
}

.conta input{
  outline: 0;
  border-radius: 5px;
  border: 0;
  width: 38%;
  height: 40px;
  background-color: var(--white-color);
  color: var(--bg-color);
  font-size: 18px;
  font-weight: bold;
}

.result{
  width: 35%;
}
    /**************               LOGIN                 **************/
.acessar{
  height: 240px;
  margin-bottom: 5%;

}

.login p{
  color: var(--white-color);
  width: 400px;
}


.entrar input{
  margin-top: 8%;
  font-size: 20px;
  font-weight: 600;
  color: var(--white-color);
  background-color: transparent;
  height: 20%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid var(--white-color);
  width: 340px;
}

.footer-social-links{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.footer-social-links a{
  width: 25px;
  height: 25px;
  line-height: 30px;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color:var(--white-color);  
}

.footer-social-links a i,
.footer-social-links a span{
    position: relative;   
}

.footer-social-links a:before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid  var(--white-color);
}

.footer-social-links a:hover{
    color: var(--white-color);
}

.footer-social-links a:hover:before{
    background: var(--green-strong);
}

.options{
  display: flex;
  justify-content: space-evenly;
  width: 340px;
  height: 80px;
  padding-top: 3%;
}

.button_login {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--green-strong);
  color: var(--bg-color-lighter);
  height: 85%;
  width: 23%;
  margin-top: 3%;
  padding-left: 5%;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
  transition: background 0.3s;
}
.button_login:hover {
  background-color: var(--bg-color-lighter);
  color: var(--green-strong);
}

.loading-div {
  width: 50px;
  /* border: 3px solid pink; */
  margin: auto;
  display: none;
}


/* intro text */
.text_intro {
  --offset: 6px;
  display: flex;
  margin-left: 19%;
}

.text_intro_h2{
  width: 570px;
  font-size: 40px;
  font-family: Helvetica;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: var(--white-color);
}

.mask {
  height: 70px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  padding-bottom: var(--offset);
  
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}