/******        FONTE PRINCIPAL                     **************/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******        SEGUNDA OPÇÃO DE FONTE                     **************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root{
  /* Colors */
  --bg-color: #202124;
  --bg-color-lighter: #3B3D3F;
  --white-color: #FFF;
  --green-strong: #4ADAA8;
  
  /* Fonts */
  --body-font: 'Spartan', sans-serif;
  --normal-font-size: 16px;
  --small-font-size: 14px;
}

.header{
  color: var(--white-color);
  border-bottom: 3px solid var(--green-strong);
  text-align: center;
}
.navigation{
  height: 60px;
  border-bottom: 2px solid var(--green-strong);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.navMenu a {
color: #FFFF;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 500;
display: inline-block;
width: 150px;
}
.navMenu h1{
  color: #4ADAA8;
  margin: 0;
  padding: 0;
}

.navMenu a:hover {
color: #4ADAA8;
transition: 300ms;
}





.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}
.navbar{
  height: 100%;
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-evenly;
  width: 40%;
  color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
}
.navbar a{
  color: var(--white-color);
  text-decoration: none;
}




/************   FOOTER  **************/
#main_footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--base-color-primary);
}
input{
  outline: 0;
}
footer{
  margin-top: 5%;
  position: relative;
  width: 100%;
  background-color: var(--green-strong);
  min-height: 100px;
  padding: 20px, 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon{
  position: relative;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
 
footer .menu_footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li, 
footer .menu_footer li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 32px;
  color: var(--white-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a img{
height: 24px;
width: 24px;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .menu_footer li a{
  font-size: 20px;
  color: var(--bg-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.70;
}

footer .menu_footer li a:hover{
  opacity: 1;
  color: var(--bg-color);
  transition: 0.5s;
}
 form{
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
}
form input{
  height: 80px;
  border: 0;
  background-color: var(--bg-color);
  color: var(--white-color);
  font-weight: bold;
  border-bottom: 3px solid var(--white-color);
}